

	<div class="footer-bottom">

			<div class="footer-logo">
					<img src="images/footer-logo.png" alt="">				
			</div>

   		<div class="copyright">
		     	<span>© Copyright Khronos 2016.</span> 
		     	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>		         	
		   </div>		   

   	</div> <!-- /footer-bottom -->

   	<div class="back-to-top">
		 	<a href="#top" class="smoothscroll"><span>Back to Top</span></a>
		</div>

   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

 
   <!-- Java Script
   ================================================== --> 
   <script src="public/themes/kronos/js/jquery-2.1.3.min.js"></script>
   <script src="public/themes/kronos/js/plugins.js"></script>
   <script src="public/themes/kronos/js/main.js"></script>
   <script src="public/js/oreos-music.js"></script>
  <script>
    document.getElementById("email-btn").addEventListener("click", function(){
        alert("Music Coming to Your Inbox!"); 
        var txemail = document.getElementById("mce-EMAIL").value;
        window.location.href = "https://port-9000-go-jdsully615667428.preview.codeanywhere.com/musictoinbox/"+ txemail;
    });
 
  </script>
 
  </body>
</html>
